{% extends 'tiketing/tiketing-base.html' %}
{% block nav_link %}
              <a class="nav-link" href="{% url 'tiketing:movie_list' %}">فیلم ها </a>
{% endblock %}

    {% block main_content %}
            {% if cinemas_list %}
            <h4 style="color: green;">
                تعداد 
                {{ cinema_count }}
                سینما موجود است
            </h4>
            
            {% else %}
                <h3 style="color: red;">هیچ سینمایی موجود نیست</h3>
            {% endif %}

        {% if cinemas_list %}
        {% for cinema in cinemas_list %}
            <div class="list-group col">
                <a class="list-group-item list-group-item-action" href="{% url 'tiketing:cinema_detail' cinema_id=cinema.pk %}">{{ cinema }} 
                    <small class="text-muted">({{ cinema.city }})</small>
                </a>
            </div>
        {% endfor %}
        {% endif %}
          {% endblock %}
