{% extends 'tiketing/tiketing-base.html' %}
{% load static %}


{% block nav_link %}<a class="nav-link" href="{% url 'tiketing:cinema_list' %}">سینما ها </a>{% endblock %}


{% block main_content %}
<div class="row">
        <div class="col-8" id="movie-detail">
            <div class="list-group">
                <a class="list-group-item">نام: {{ movie.name }}</a>
                <a class="list-group-item">زمان: {{ movie.length }}</a>
                <a class="list-group-item">سال تولید: {{ movie.year }}</a>
                <a class="list-group-item">کارگردان: {{ movie.director }}</a>
                <a class="list-group-item">خلاصه داستان: {{ movie.descreption}}</a>
            </div>
        </div>
        <div class="col-4" id="movie-poster">
            <img src="{{ movie.poster.url }}" alt="{{ movie.name }}">
        </div>
    </div>
{% endblock %}
