{% extends "tiketing/tiketing-base.html" %}

                {% block nav_link %}
                <a class="nav-link" href="{% url 'tiketing:cinema_list' %}">سینما ها </a>
                {% endblock %}



        {% block main_content %}
                <div class="navbar">
            {% if movies_list %}
            <h4 style="color: green;">
                تعداد
                {{ movie_count }}
                فیلم موجود است
            </h4>

            {% else %}
                <h3 style="color: red;">هیچ فیلمی موجود نیست</h3>
            {% endif %}
        </div>
        {% if movies_list %}
        {% for movie in movies_list %}
            <div class="list-group col">
                <a class="list-group-item list-group-item-action" href="{% url 'tiketing:movie_detail' movie_id=movie.pk %}">{{ movie }}
                    <small class="text-muted">({{ movie.director }})</small>
                </a>
            </div>
        {% endfor %}
        {% endif %}
        {% endblock %}

